#user_div
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:black;
    height: 40em;
}

#user_div p2
{
    color:  #c45525;
    font-size: 3em;
    text-align: center;
}

#photo_user_div
{
    display: flex;
    justify-content: center;
}

#photo_user
{
    height: 25em;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
}

#info_div
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:rgb(136, 87, 87);
    height: 20em;
}