#block_page
{
    /* border: solid black 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30em;
    width: 100%;
}

#petit_beurre_div, #partners_div
{
    /* border: solid black 1px; */
    height: 20%;
    width: 20%;
    padding-left: 44%;
}

#petit_beurre:hover
{
    height: 13em;
}

#title_div
{
    /* border: solid black 1px; */
    margin: auto;
    justify-content: center;
    margin-top: 10%;
}
