
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  display: block;
}

body {
  margin: 0;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #262c31;
  text-align: left;
  background-color: #c45525;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  margin-bottom: 0.5rem;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-10 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
.was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #262c31;
}
.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #262c31;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.5);
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c45525;
  border-color:#262c31;
}
.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #fff;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #fde9e3;
  border-color: #fde9e3;
}





.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.align-self-end {
  align-self: flex-end !important;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
}

.h-100 {
  height: 100% !important;
}

.my-4 {
  margin-top: 1.5rem !important;
}

.my-4 {
  margin-bottom: 1.5rem !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-white {
  color: #fff !important;
}

@media print {
  *,
*::before,
*::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }

  .container {
    min-width: 992px !important;
  }
}
body,
html {
  width: 100%;
  height: 100%;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #f4623a;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: url("../assets/img/kawin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h1 {
  font-size: 2.25rem;
}










#products_proposed_div
{
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    height: 60em;
}
@media screen and (max-width: 1024px)
{
    #products_proposed_div
    {
        height: 300em;       
    }
}

#substitutes_row_1, #substitutes_row_2
{
    /* border: solid blue 1px; */
    display: flex;
    justify-content: space-around;
    height: 50%;
}
@media screen and (max-width: 1024px)
{
    #substitutes_row_1, #substitutes_row_2
    {
        flex-direction: column;
        width: 100%;
    }
}

#substitute_p1_div, #substitute_p2_div, #substitute_p3_div, #substitute_p4_div, #substitute_p5_div, #substitute_p6_div
{
    /* border: solid rgb(145, 5, 5) 1px; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}
@media screen and (max-width: 1024px)
{
    #substitute_p1_div, #substitute_p2_div, #substitute_p3_div, #substitute_p4_div, #substitute_p5_div, #substitute_p6_div
    {
        height: 70%;
        width: 50%;
        margin-left: 25%;
    }
}

#photo_p1_div, #photo_p2_div, #photo_p3_div, #photo_p4_div, #photo_p5_div, #photo_p6_div
{
    /* border: solid rgb(145, 5, 5) 1px; */
    position: relative;
    background-color: black;
    height: 70%;
    width: 100%;
}

#photo_p1, #photo_p2, #photo_p3, #photo_p4, #photo_p5, #photo_p6
{
    position: absolute;
    max-height: 100%;
    max-width: 100%;
}

#nut_p1_div, #nut_p2_div, #nut_p3_div, #nut_p4_div, #nut_p5_div, #nut_p6_div
{
    /* border: solid rgb(145, 5, 5) 1px; */
    position: absolute;
    width: 16%;
    height: 10%;
    padding-left: 90%;
    z-index: 1;
}

#title_p1, #title_p2, #title_p3, #title_p4, #title_p5, #title_p6
{
    /* border: solid rgb(145, 5, 5) 1px; */
    text-align: center;
    height: 15%;
    width: 100%;
}

#checkbox_p2, #checkbox_p3, #checkbox_p4, #checkbox_p5, #checkbox_p6
{
    /* border: solid rgb(145, 5, 5) 1px; */
    text-align: center;
    height: 10%;
    width: 100%;
}

















#products_proposed_div
{
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    height: 60em;
}
@media screen and (max-width: 1024px)
{
    #products_proposed_div
    {
        height: 300em;       
    }
}

#substitutes_products_div
{
    /* border: solid goldenrod 1px; */
    display: flex;
    flex-direction: column;
    height: 80%;
}

#substitutes_row_1, #substitutes_row_2
{
    /* border: solid blue 1px; */
    display: flex;
    justify-content: space-around;
    height: 50%;
}
@media screen and (max-width: 1024px)
{
    #substitutes_row_1, #substitutes_row_2
    {
        flex-direction: column;
        width: 100%;
    }
}

#substitute_p1_div, #substitute_p2_div, #substitute_p3_div, #substitute_p4_div, #substitute_p5_div, #substitute_p6_div
{
    /* border: solid rgb(145, 5, 5) 1px; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}
@media screen and (max-width: 1024px)
{
    #substitute_p1_div, #substitute_p2_div, #substitute_p3_div, #substitute_p4_div, #substitute_p5_div, #substitute_p6_div
    {
        height: 70%;
        width: 50%;
        margin-left: 25%;
    }
}

#photo_p1_div, #photo_p2_div, #photo_p3_div, #photo_p4_div, #photo_p5_div, #photo_p6_div
{
    /* border: solid rgb(145, 5, 5) 1px; */
    position: relative;
    background-color: black;
    height: 70%;
    width: 100%;
}

#photo_p1, #photo_p2, #photo_p3, #photo_p4, #photo_p5, #photo_p6
{
    position: absolute;
    max-height: 100%;
    max-width: 100%;
}

#nut_p1_div, #nut_p2_div, #nut_p3_div, #nut_p4_div, #nut_p5_div, #nut_p6_div
{
    /* border: solid rgb(145, 5, 5) 1px; */
    position: absolute;
    width: 16%;
    height: 10%;
    padding-left: 90%;
    z-index: 1;
}

#title_p1, #title_p2, #title_p3, #title_p4, #title_p5, #title_p6
{
    /* border: solid rgb(145, 5, 5) 1px; */
    text-align: center;
    height: 15%;
    width: 100%;
}

#checkbox_p1, #checkbox_p2, #checkbox_p3, #checkbox_p4, #checkbox_p5, #checkbox_p6
{
    /* border: solid rgb(145, 5, 5) 1px; */
    text-align: center;
    height: 10%;
    width: 100%;
}