.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.align-self-end {
  align-self: flex-end !important;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
}

.h-100 {
  height: 100% !important;
}

.my-4 {
  margin-top: 1.5rem !important;
}

.my-4 {
  margin-bottom: 1.5rem !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-white {
  color: #fff !important;
}






#container {
  display: flex;
  justify-content: space-around;
  background-color: #c45525;
  height: 15em;
  padding-top: 2em;
}
@media (max-width: 992px) {
  #container {
    flex-direction: column;
    height: 30em;    
  }
}

@media (max-width: 992px) {
    #col-12 {
      height: 1em;
    }
}

.photo_product_selected {
  height: 25em;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
}
@media (max-width: 992px) {
  .photo_product_selected {
    height: 10em;
  }
}

.nutriscore {
  height: 7em;
}
@media (max-width: 992px) {
  .nutriscore {
    height: 4em;
  }
}
