#research_div
{
    display: flex;
}

#background_photo_div
{
    display: flex;
    justify-content: center;
}

#background_photo
{
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

#research_field
{
    position: absolute;
    margin-top: 16%;
    margin-left: 10%;
}
@media screen and (max-width: 1024px)
{
    #research_field
    {
        max-width: 90%;
        margin-top: 8%;
        margin-left: 5%;
    }
}

#research_field h1, #research_field h2
{
    text-shadow: 0 0 0.2em whitesmoke, 0 0 0.2em whitesmoke, 0 0 0.2em whitesmoke;
}

#research_div_form
{
    margin-left: 30%;
}

#research_input
{
    height: 2em;
    width: 20em;
}

#research_button
{
    height: 2em;
    width: 6em;
}


#history_div, #contact_div, #telephone_div, #mail_div
{
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
}

#colette_et_rémy
{
    /* border: solid black 1px; */
    margin-left: auto;
    margin-right: auto;
}

#rémy
{
    /* border: solid black 1px; */
    max-width: 3em;
    height: auto;
}

#contact_icons_div
{
    /* border: solid black 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#telephone_div p, #mail_div p
{
    /* border: solid black 1px; */
    font-size: 1em;
    text-align: justify;
}