/* (color #345a61 sinon en RGB  52, 90, 97 & color  #c45525 196, 85, 37)
les titres en : Open Sans */
h1 {
    color: black;
    text-align: center;
    font-size: 4em;
}
h2 {
    color: black;
    text-align: center;
    font-size: 3em;
}
h3 {
    color: black;
    text-align: center;
    font-size: 2em;
}
p {
    color:black;
    max-width: 80%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

head {
    margin: auto;
}

body {
    background-color: #c45525;
}

nav {
    color: black;
}

#research_div {
    display: flex;
    flex-direction: column;
}

#background-photo {
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}





#history_div {
    display: flex;
    flex-direction: column;
}

#colette_et_rémy {
    margin-left: auto;
    margin-right: auto;
}
#rémy {
    max-width: 3em;
    height: auto;
}


 

#contact_div {
    display: flex;
    flex-direction: column;
}

#contact_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}