h1
{
    color: black;
    text-align: center;
    font-size: 4em;
}

h2
{
    color: black;
    text-align: center;
    font-size: 3em;
}

h3
{
    color: black;
    text-align: center;
    font-size: 2em;
}

p
{
    color:black;
    max-width: 80%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

head
{
    margin: auto;
}

body
{
    background-color: #c45525;
}

nav
{
    background-color: #f08355;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
}
nav h3
{
    margin-top: auto;
    margin-bottom: auto
}

#nav_input
{
    height: 2em;
    width: 20em;
    margin-top: auto;
    margin-bottom: auto
}

