{% extends 'layouts/base.html' %}
{%  load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/selected_product.css' %}" media="all"/>

    <div id="product_selected_div">
        <p2>Voici Le produit que vous voulez substituer !</p2>
        <div id="photo_product_selected_div">
            <img id="photo_product_selected" src="/static/icons/corn_flakes.jpg">
        </div>
    </div>

    <div id="product_features_div">
        
    </di>

{% endblock content %}