{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" media="all"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}" media="all"/>
        <title>Pur Beurre</title>
    </head>

    <body>
        <div id="petit_beurre_div">
            <a href="/">
                <img id="petit_beurre_icon" src="/static/icons/icon_petit_beurre.png" title="Accueil">
            </a>
        </div>
        <h2>Connecte-toi</h2>
        <form id="form_login_register" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">valider</button>
        </form>
    </body>

</html>