body
{
    background-color: #c45525;
}

#block_page
{
    /* border: solid black 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40em;
    width: 100%;
}

h3
{
    color: black;
    text-align: center;
    font-size: 2em;
}

#petit_beurre_div, #partners
{
    /* border: solid black 1px; */
    height: 30%;
    width: 20%;
    padding-left: 40%;
}

#petit_beurre:hover
{
    height: 13em;
}