{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" media="all"/>
        <title>Pur Beurre</title>
    </head>

    <body>
        <div id="block_page">
            <nav>
                <a href="/">
                    <span title="Page d'accueil">
                        <img id="petit_beurre_icon" src="/static/icons/icon_petit_beurre.png">
                    </span>
                </a>
                <h2>Pur Beurre</h2>
                <form id="nav_form"></form>
                    <input type="text" id="nav_input" name="research" placeholder="Chercher" size=50" maxlength="70"></input>
                </form>
                
                {% if user.is_authenticated %}

                    <a href="/account/">
                        <span title="Mon compte">
                            <img id="user_icon" src="/static/icons/user.png">
                        </span>
                    </a>

                    <a href="/saved_products/">
                        <span title="Mes Aliments">
                            <img id="saved_food_icon" src="/static/icons/carrot.png">
                        </span>
                    </a>

                    <a href="{% url 'logout' %}">
                        <span title="Me Déconnecter">
                            <img id="logout_icon" " src="/static/icons/logout.png">
                        </span>
                    </a>

                {% else %}

                    <a href="{% url 'login' %}">
                        <span title="Me Connecter">
                            <img id="logout_icon" src="/static/icons/user.png">
                        </span>
                    </a>
                    <a href="{% url 'signup' %}">
                        <span title="Créer un compte">
                            <img id="logout_icon" src="/static/icons/new_user.png">
                        </span>
                    </a>

                {% endif %}

                
                
            </nav>

            {% block content %}
            {% endblock content %}
            
            <footer>
                <a href="/mentions_legales/">
                    <h3>&copy; Copyright {% now 'Y' %} Pur Beurre &middot; All rights reserved !</h3>
                </a>
            </footer>
        </div>
    </body>

</html>