{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" media="all"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/mentions_legales.css' %}" media="all"/>
        <title>Pur Beurre</title>
    </head>

    <body>
        <div id="block_page">

        <div id="title_div">
            <a href="/">
                <img id="petit_beurre_icon" src="/static/icons/icon_petit_beurre.png" title="Accueil">
            </a>
            <h2>Mentions Legales</h2>
        </div>

        <div id="partners_div">
            <ul>
                <li>Site réalisé par: Mr Cottenceau Thomas</li>
                <li>Lien Github: Mr Cottenceau Thomas</li>
                <li>Thème Bootstrap utilisé: </li>
                <li>resources utilisés</li>
                <li>D</li>
                <li>pour</li>
                <li>le</li>
                <li>site</li>
            </ul>
        </div>

        </div>
    </body>

</html>