{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/results_of_research.css' %}" media="all"/>

    <div id="product_to_substitute_div">
        <p2>Voici Le produit que vous voulez substituer !</p2>
        <div id="photo_product_to_substitute_div">
            <img id="photo_product_to_substitute" src="/static/icons/corn_flakes03.jpg">
        </div>
    </div>

    <div id="products_proposed_div">

        <h2><br>Vous pouvez remplacer cet aliment par :</h2>

        <div id="substitutes_products_div">

            <div id="substitutes_row_1">

                <div id="substitute_p1_div">
                    <div id="photo_p1_div">
                        <img id="photo_p1" src="/static/icons/corn_flakes03.jpg">
                        <div id="nut_p1_div">
                            <img id="nut_p1" src="/static/icons/nut_a.png">
                        </div>
                    </div>
                    <div id="title_p1">
                        <p3>Nom du produit et pourquoi pas aussi sa marque allé soyons fou !</p3>
                    </div>
                    <div id="checkbox_p1">
                        <input type="checkbox" id="scales_1" name="sauvergarde">
                        <label for="scales">Sauvegarder</label>
                    </div>
                </div>

                <div id="substitute_p2_div">
                    <div id="photo_p2_div">
                        <img id="photo_p2" src="/static/icons/corn_flakes03.jpg">
                        <div id="nut_p2_div">
                            <img id="nut_p2" src="/static/icons/nut_b.png">
                        </div>
                    </div>
                    <div id="title_p2">
                        <p3>Nom du produit et pourquoi pas aussi sa marque allé soyons fou !</p3>
                    </div>
                    <div id="checkbox_p2">
                        <input type="checkbox" id="scales_2" name="sauvergarde">
                        <label for="scales">Sauvegarder</label>
                    </div>
                </div>

                <div id="substitute_p3_div">
                    <div id="photo_p3_div">
                        <img id="photo_p3" src="/static/icons/corn_flakes05.jpg">
                        <div id="nut_p3_div">
                            <img id="nut_p3" src="/static/icons/nut_c.png">
                        </div>
                    </div>
                    <div id="title_p3">
                        <p3>Nom du produit et pourquoi pas aussi sa marque allé soyons fou !</p3>
                    </div>
                    <div id="checkbox_p3">
                        <input type="checkbox" id="scales_3" name="sauvergarde">
                        <label for="scales">Sauvegarder</label>
                    </div>
                </div>
            </div>




            <div id="substitutes_row_2">

                <div id="substitute_p4_div">
                    <div id="photo_p4_div">
                        <img id="photo_p4" src="/static/icons/corn_flakes02.jpg">
                        <div id="nut_p4_div">
                            <img id="nut_p4" src="/static/icons/nut_d.png">
                        </div>
                    </div>
                    <div id="title_p4">
                        <p3>Nom du produit et pourquoi pas aussi sa marque allé soyons fou !</p3>
                    </div>
                    <div id="checkbox_p4">
                        <input type="checkbox" id="scales_4" name="sauvergarde">
                        <label for="scales">Sauvegarder</label>
                    </div>
                </div>

                <div id="substitute_p5_div">
                    <div id="photo_p5_div">
                        <img id="photo_p5" src="/static/icons/corn_flakes04.jpg">
                        <div id="nut_p5_div">
                            <img id="nut_p5" src="/static/icons/nut_e.png">
                        </div>
                    </div>
                    <div id="title_p5">
                        <p3>Nom du produit et pourquoi pas aussi sa marque allé soyons fou !</p3>
                    </div>
                    <div id="checkbox_p5">
                        <input type="checkbox" id="scales_5" name="sauvergarde">
                        <label for="scales">Sauvegarder</label>
                    </div>
                </div>

                <div id="substitute_p6_div">
                    <div id="photo_p6_div">
                        <img id="photo_p6" src="/static/icons/corn_flakes06.jpg">
                        <div id="nut_p6_div">
                            <img id="nut_p6" src="/static/icons/nut_a.png">
                        </div>
                    </div>
                    <div id="title_p6">
                        <p3>Nom du produit et pourquoi pas aussi sa marque allé soyons fou !</p3>
                    </div>
                    <div id="checkbox_p6">
                        <input type="checkbox" id="scales_6" name="sauvergarde">
                        <label for="scales">Sauvegarder</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}