{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/selected_product.css' %}" media="all"/>

    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Voici Le produit que vous voulez substituer !</h1>
                    <div id="photo_product_selected_div">
                        <img id="photo_product_selected" src='{{product.photo}}'>
                    </div>
                    <hr class="divider my-4" />
                </div>
            </div>
            
            <div id="product_features_div">
                <ul id="product_features">
                    <li>Name : {{product.name}}</li>
                    <li>Brand : {{product.brand}}</li>
                    <li>Store : {{product.store}}</li>
                    <li>Nutriscore : {{product.nutriscore}}</li>
                    <li>Fat lipids/100g : {{product.fat_lipids_100g}}</li>
                    <li>Saturated fatty acids/100g : {{product.saturated_fatty_acids_100g}}</li>
                    <li>Sugar/100g : {{product.sugar_100g}}</li>
                    <li>Salt/100g : {{product.salt_100g}}</li>
                </ul>
            </div>
        </div>
    </header>   

    <a href="proposed_products/">
        <p1>Substitue le</p1>
    </a>

{% endblock content %}