{% extends 'base.html' %}
{%  load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/selected_product.css' %}" media="all"/>

    <div id="product_selected_div">
        <p2>Voici Le produit que vous voulez substituer !</p2>
        <div id="photo_product_selected_div">
            <img id="photo_product_selected" src={{photo}}>
        </div>
    </div>

    <div id="product_features_div">
        <ul id="product_features">
            <li>Name : {{name}} </li>
            <li>Brand : {{brand}} </li>
            <li>Store : {{store}} </li>
            <li>Nutriscore : {{nutriscore}} </li>
            <li>Fat lipids/100g : {{fat_lipids_100g}} </li>
            <li>Saturated fatty acids/100g : {{saturated_fatty_acids_100g}} </li>
            <li>Sugar/100g : {{sugar_100g}} </li>
            <li>Salt/100g : {{salt_100g}} </li>                
        </ul>
    </div>

    <div id="input_to_substitute_div">
        <form id="substitute_form" name="substitute_form" method="post">
            {% csrf_token %}
            {{ substitute_form }}
            <input type="submit" value="Substituer">
        </form>
    </div>

{% endblock content %}